version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: fitme_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: fitme_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
